@model myProject.Models.Hizmetler

@{
    ViewData["Title"] = "HizmetDuzenle";
}

<h1>HizmetDuzenle</h1>

<h4>Hizmetler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="HizmetDuzenle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="hizmetID" />
            <div class="form-group">
                <label asp-for="hizmetAdi" class="control-label"></label>
                <input asp-for="hizmetAdi" class="form-control" value="@Model.hizmetAdi"/>
                <span asp-validation-for="hizmetAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hizmetSuresi" class="control-label"></label>
                <input asp-for="hizmetSuresi" class="form-control" value="@Model.hizmetSuresi"/>
                <span asp-validation-for="hizmetSuresi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hizmetFiyat" class="control-label"></label>
                <input asp-for="hizmetFiyat" class="form-control" value="@Model.hizmetFiyat"/>
                <span asp-validation-for="hizmetFiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                <a method="get" asp-action="HizmetGoruntule" asp-route-personelID="@Model.personelID" class="btn btn-secondary">Geri Dön</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
