@model myProject.Models.Hizmetler


<h2>@TempData["msj"] İçin Hizmet Ekle</h2>
<div class="alert-danger">@TempData["danger"]</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HizmetEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hizmetAdi" class="control-label"></label>
                <input asp-for="hizmetAdi" class="form-control" />
                <span asp-validation-for="hizmetAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hizmetSuresi" class="control-label"></label>
                <input asp-for="hizmetSuresi" class="form-control" type="time" min="0" max="120" />
                <span asp-validation-for="hizmetSuresi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hizmetFiyat" class="control-label"></label>
                <input asp-for="hizmetFiyat" class="form-control" />
                <span asp-validation-for="hizmetFiyat" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" asp-for="personelID" value="@ViewBag.personelID"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
                <a asp-controller="Personel" asp-action="PersonelGoruntule" asp-route-personelID="@ViewBag.personelID"  class="btn btn-secondary">Geri Dön</a>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

